doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/head.css')
    link(rel='stylesheet', href='/stylesheets/test.css')
    script(src='javascripts/jquery-1.11.1.min.js')
    script(src='javascripts/test.js')
  body
    block try  
    block content